/*CSS CLassWOrk*/
* {
    padding: 0;
    margin: 0;
}
.parent {
    
}
div {
 /*   position: absolute; */
    border: 6px dashed blue;
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    /*top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;*/
}
.scroll {
    right: 200px;
    position: fixed;
    top: 200px;
}
iblock {
    
}